.dialog {
  position: absolute;
  top: 50%;
  bottom: 50%;
  border: none;
  border-radius: 15px;
  width: min(100%, 400px);
  backdrop-filter: blur(50px);
}

.dialog::backdrop {
  backdrop-filter: blur(3px);
  background-color: hsl(0 0 25 / 0.8);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: hsl(0 0 15);
}

.formHeader h3 {
  margin: 0.2em 0;
}

.form [class~='buttons'] {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
